:root {
  --clr-neon: hsl(317 100% 54%);
  --clr-bg: hsl(323 21% 16%);
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
body {
  display: grid;
  background: var(--clr-bg);
  color: var(--clr-neon);
  font-family: "Balsamiq Sans", cursive;
}
.warp {
  text-align: center;
  padding-top: 22%;
  padding-bottom: auto;
}
.button {
  cursor: pointer;
  background-color: var(--clr-bg);
  text-decoration: none;
  color: var(--clr-neon);
  border: currentColor solid 0.25em;
  border-radius: 5em;
  display: inline-block;
  padding: 0.25em 1em;
  font-size: 20px;
  width: fit-content;
  height: 50px;
  text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3), 0 0 0.45em currentColor;
  box-shadow: 0 0 0.5em 0 var(--clr-neon);
  position: relative;
}
.button::before {
  content: "";
  pointer-events: none;
  position: absolute;
  background-color: var(--clr-neon);
  top: 120%;
  left: 0;
  width: 100%;
  height: 100%;
  border: 1em;
  border-radius: 5em;
  filter: blur(1em);
  opacity: 0.75;
}

.button::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border-radius: 0.25em;
  box-shadow: 0 0 2em 5em var(--clr-neon);
  opacity: 0;
  z-index: -1;
  background-color: var(--clr-neon);
  transition: opacity 0.5s linear;
}

.button:hover,
.button:focus {
  background-color: var(--clr-neon);
  color: var(--clr-bg);
  text-shadow: none;
}

.button:hover::before,
.button:focus::before {
  opacity: 1;
}
.button:hover::after,
.button:focus::after {
  opacity: 1;
}
